* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
  font-family:  cursive;
  font-weight: 400;
  font-style: normal;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    /* background-color: 59d102; */
     /* background: linear-gradient(to bottom right, #00FFFF, #AAFF00); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
}
.checkbox,
.checkbox-header,.delete-multiple-btn {
    display: none;
}

/* when delete mode is active */
.main-container.del .checkbox,
.main-container.del .checkbox-header,
.main-container.del .delete-multiple-btn {
    display: block;
}

.main-container.del #grid-button{
    pointer-events: none;   /* disables clicking */
    opacity: 0.5;           /* visual disabled effect */
    cursor: not-allowed;
} 

h1{
    display: block;
    text-align: center;
}

.todo {
    /* height: 500px; */
    height: auto;
    /* max-width: 900px; */
    width: 100%;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 40px;
    position: relative;
    /* overflow-x: auto; */
}

.checkbox{
    transform: translateY(2%);
}

.current-page-number{
font-weight: bold;
}

tr:hover{
    background-color: rgb(208, 230, 237);
}

.pagination{
    background-color: (233, 220, 220);
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.pagination .btn{
    width: 20px;
}

.top-card {
    display: flex;
    
    flex-wrap: wrap;
    gap: 5px;
}

.search-field {
    width: 80%;
    padding-inline: 10px;
}
/* remove table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  opacity: 0.8;
  background: transparent;
}

th {
    white-space: nowrap;          /* ❌ prevent wrapping */
    vertical-align: middle;
}

th i {
    margin-left: 6px;             /* space between text and icon */
    font-size: 0.9em;             /* optional: slightly smaller icon */
}

/* th .inactive {
  display: inline-block;
}

th .active {
  display: none;
}

th.active-heading .inactive {
  display: none;
}

th.active-heading .active {
  display: inline-block;
} */


.sort-icon {
    margin-left: 6px;
    font-size: 12px;
}


/* .delete-popup {
    height: 100px;
    width: 300px;
    background-color: rgb(233, 220, 220);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(50%, -100%) scale(0);
    transition: 0.5s;
    padding: 5px;
} */




/* .main-container:has(.del) .delete-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
} */

/* .main-container:has(.del) > :not(.delete-popup){
    pointer-events: none;
    .todo{
    background-color: rgb(63, 58, 58);
    }
} */

/* .main-container:has(.del) > :not(.delete-popup){
    pointer-events: none;
}
.main-container:has(.del) .todo{
    background-color: rgb(63, 58, 58);
    } */

.delete-popup .yes {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.delete-popup .no {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* filter popup code */
/* .filter-popup {
    height: 200px;
    width: 300px;
     background-color: rgb(233, 220, 220);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(50%, -100%) scale(0);
    transition: 0.5s;
    padding: 5px;
}

.close-filter-icon{
    position: absolute;
    right: 5px;
    border: none;
    background-color: transparent;
}

.main-container:has(.filter) .filter-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.main-container:has(.filter) > :not(.filter-popup) {
    pointer-events: none;
}

.main-container:has(.filter) .todo {
    background-color: rgb(63, 58, 58);
}

.main-container:has(.filter) > :not(.filter-popup)
{
    pointer-events: none;
}

.main-container:has(.filter) .todo
 {
    background-color: rgb(63, 58, 58) !important;
} */


table {
    display: table;
}

.list-div {
    display: none;
    gap: 8px;
    flex-wrap: wrap;
}

.grid table {
    display: none;
}

.grid .list-div {
    display: flex;
}

.grid-box {
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    width: 200px;
}

.edit,.delete{
    width: max-content;
}
.edit i{
   color: blue;
}
.delete i{
    color: red;
}

.grid-edit-del-buttons{
    display: flex;
    gap: 4px;
}


.asend-desend-div{
    /* border:1px solid red; */
    display: flex;
    gap: 0px;
    /* flex-wrap: nowrap; */
    flex-direction: column;
}
.asend-desend-div button{
    /* border:1px solid red; */
    display: flex;
    border-radius: 50%;
    width: 10px;
    height: 15px;
    /* flex-wrap: nowrap; */
    margin: 0;
  padding: 0;
}
.asend-desend-div >:first-child{
    transform: translateY(25%);
}



/* .list-grid-tooltip .tooltip-text{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    background-color: inherit;
    white-space: nowrap;
    padding: 10px 15px;
    cursor: pointer;
    padding: 7px;
}

.tooltip-text::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 115px solid;
    border-color: #000 #0000 #0000 #0000;
} */



@media (max-width:900px) {
    .main-container{
       /* overflow-y: auto; */
       gap: 2px;
       height: 100%;
    }
     .todo{
        height: auto;
        overflow-x: auto;
        overflow-y: auto;
     }
}

@media (max-width:830px){
   .search-field{
    width: 50%;
   }
   .todo{
    width: 100%;
   }
}
