* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
  font-family:  cursive;
  font-weight: 400;
  font-style: normal;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    /* background-color: 59d102; */
     /* background: linear-gradient(to bottom right, #00FFFF, #AAFF00); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
}

h1{
    display: block;
    text-align: center;
}

.todo {
    height: 500px;
    /* height: auto; */
    /* max-width: 900px; */
    width: 100%;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 40px;
    position: relative;
    /* overflow-x: auto; */
}

.current-page-number{
font-weight: bold;
}

tr:hover{
    background-color: rgb(208, 230, 237);
}

.pagination{
    background-color: (233, 220, 220);
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.pagination .btn{
    width: 20px;
}

.top-card {
    display: flex;
    
    flex-wrap: wrap;
    gap: 5px;
}

.search-field {
    width: 80%;
    padding-inline: 10px;
}
/* remove table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  opacity: 0.8;
  background: transparent;
}

.delete-popup {
    height: 100px;
    width: 300px;
    background-color: rgb(233, 220, 220);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(50%, -100%) scale(0);
    transition: 0.5s;
    padding: 5px;
}




.main-container:has(.del) .delete-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* .main-container:has(.del) > :not(.delete-popup){
    pointer-events: none;
    .todo{
    background-color: rgb(63, 58, 58);
    }
} */

/* .main-container:has(.del) > :not(.delete-popup){
    pointer-events: none;
}
.main-container:has(.del) .todo{
    background-color: rgb(63, 58, 58);
    } */

.delete-popup .yes {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.delete-popup .no {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.filter-popup {
    height: 200px;
    width: 300px;
     background-color: rgb(233, 220, 220);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(50%, -100%) scale(0);
    transition: 0.5s;
    padding: 5px;
}

.close-filter-icon{
    position: absolute;
    right: 5px;
    border: none;
    background-color: transparent;
}

.main-container:has(.filter) .filter-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* .main-container:has(.filter) > :not(.filter-popup) {
    pointer-events: none;
}

.main-container:has(.filter) .todo {
    background-color: rgb(63, 58, 58);
} */

.main-container:has(.filter) > :not(.filter-popup),
.main-container:has(.del) > :not(.delete-popup) {
    pointer-events: none;
}

.main-container:has(.filter) .todo,
.main-container:has(.del) .todo {
    background-color: rgb(63, 58, 58) !important;
}


table {
    display: table;
}

.list-div {
    display: none;
    gap: 8px;
    flex-wrap: wrap;
}

.grid table {
    display: none;
}

.grid .list-div {
    display: flex;
}

.grid-box {
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    width: 200px;
}

.edit,.delete{
    width: max-content;
}
.edit i{
   color: blue;
}
.delete i{
    color: red;
}

.grid-edit-del-buttons{
    display: flex;
    gap: 4px;
}

@media (max-width:900px) {
    .main-container{
       /* overflow-y: auto; */
       gap: 2px;
       height: 100%;
    }
     .todo{
        height: auto;
        overflow-x: auto;
        overflow-y: auto;
     }
}

@media (max-width:830px){
   .search-field{
    width: 50%;
   }
   .todo{
    width: 100%;
   }
}
