* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: rgb(233, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
}

.todo {
    height: 500px;
    width: 900px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 20px;
    border: 4px solid black;
    padding-bottom: 40px;
    position: relative;
}
.pagination{
    background-color: (233, 220, 220);
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.pagination .btn{
    width: 20px;
}

.top-card {
    display: flex;
    gap: 5px;
}

.search-field {
    width: 90%;
}
 
/* DELETE POPUP */
.delete-popup {
    height: 100px;
    width: 300px;
    background: white;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(50%, -100%) scale(0);
    transition: 0.5s;
    padding: 5px;
}

.container:has(.del) .delete-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.container:has(.del) > :not(.delete-popup){
    pointer-events: none;
    background-color: rgb(63, 58, 58);
}


 /* body:has(.container .del) {
    pointer-events: none;
    background-color: rgb(63, 58, 58);
} */
/*
body:has(.container .del) .delete-popup {
    pointer-events: auto;
    background-color: white;
} */

.delete-popup .yes {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.delete-popup .no {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* VIEW CONTROL */
table {
    display: table;
}

.list-div {
    display: none;
    gap: 8px;
    flex-wrap: wrap;
}

/* GRID MODE */
.grid table {
    display: none;
}

.grid .list-div {
    display: flex;
}

.grid-box {
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    width: 200px;
}

.edit,.delete{
    /* border: 2px solid red; */
    width: max-content;
}

.grid-edit-del-buttons{
    display: flex;
    gap: 4px;
}
